@font-face {
    font-family: 'Merriweather';
    src: url(src/fonts/Merriweather/Merriweather-Black.ttf);
}

@font-face {
    font-family: 'Namdhinggo';
    src: url(src/fonts/Namdhinggo/Namdhinggo-ExtraBold.ttf);
}

@font-face {
    font-family: 'noto sans';
    src: url(src/fonts/Noto_Sans/static/NotoSans-Light.ttf);

}

@keyframes vuelo {
    0% {
        transform: translatey(0);
    } 50% {
        transform: translateY(-22px);
    } 100% {
        transform: translateY(0);
    }
}

* {
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    min-height: 935px;
    min-width: 600px;

    /* zoom: 140%; */
    position: relative;
}

@media (max-width: 2200px) {
    .mascara-pagina {
        width: 1200px;
        height: 842px;
    }
}

@media (max-width: 1200px) {
    body {
        flex-direction: column;
        height: auto;
        zoom: 62%;
    }

    .mascara-pagina {
        margin: 20px 0;
        height: 1660px;
        width: 600px;
        flex-direction: column;
    }
}

.mascara-pagina {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagina {
    background-color: #121212;
    width: 595px;
    height: 842px;
    position: relative;
    overflow: hidden;
}

.botones {
    background-color: #666;
    width: 50px;
    height: 200px;
    position: absolute;
    visibility: visible;

    z-index: 100;
}

#boton-izq {
    left: 0;
}

#boton-der {
    right: 0;
}

.balanda-dot-com span {
    font-size: 15px;
}